.App {
  text-align: center;
}

.nav-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  min-height: 2em;
  font-family: 'Georgia';
}

.links {
  color: purple;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
  margin: 10px;
}

.welcome {
  display: flex;
  flex-flow: row wrap;
  color: teal;
  justify-content: center;
  align-items: center;
  align-content: center;
}