.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.header {
  height: 60px;
}

.footer {
  height: 60px;
}

/* Nav */

.nav-header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  min-height: 15px;
  font-family: 'Georgia';
  background-color: #e994bf;
}

.links {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 23px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: 1px;
  margin-right: 30px;
}

/* Welcome */


.welcome {
  display: flex;
  flex-flow: column;
  color: #0CCDDB;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0px;
  

}

@keyframes example1 {
  0%   {color:rgb(65, 65, 179); text-shadow: 20px 20px 10px rgb(250, 250, 134); left:0px; top:0px;}
  25%  {color:#e994bf; text-shadow: 20px 20px 10px rgb(236, 183, 6); left:200px; top:0px;}
  50%  {color:#0CCDDB; text-shadow: 20px 20px 10px rgb(65, 65, 179); left:200px; top:200px;}
  75%  {color:rgb(250, 250, 134); text-shadow: 20px 20px 10px #e994bf; left:-100px; top:400px;}
  100% {color:#0CCDDB; text-shadow: 20px 20px 10px rgb(236, 183, 6); left:-80px; top:80px;}
}

.welcome-text {
  display: flex;
  flex-flow: column;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 0 0 140px;
 
}


.show-your-90s {
  font-size: 80px;
  color: #0CCDDB;
  margin-bottom: 5px;
  margin-right: 60px;
  font-family: 'Bradley Hand', cursive;
  text-shadow: 20px 20px 10px rgb(236, 183, 6);
  width: 900px;
  height: 100px;
  position: relative;
  animation-name: example1;
  animation-duration: 10s;
  top: 20px;
  animation-timing-function: ease-in-out;
}
.welcomeMessage {
  color: rgb(236, 183, 6);
  font-size: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 20px 20px 10px rgb(6, 236, 217);
  width: 1000px;
  height: 100px;
  position: relative;
  animation-name: example1;
  animation-duration: 10s;
  top: 80px;
  right: 80px;
  animation-timing-function: ease-out;
}

@keyframes example {
  0%   {color:rgb(65, 65, 179); box-shadow: 20px 20px 10px rgb(250, 250, 134); left:0px; top:0px;}
  20%  {color:#e994bf; box-shadow: 20px 20px 10px rgb(236, 183, 6); transform: rotate(600deg); left:300px; top:-1400px;}
  40%  {color:#0CCDDB; box-shadow: 20px 20px 10px rgb(65, 65, 179); left:500px; top:-900px;}
  65%  {color:rgb(250, 250, 134); box-shadow: 20px 20px 10px #E994BF; transform: rotate(20deg); left:100px; top:-100px;}
  80% {color:#0CCDDB; box-shadow: 20px 20px 10px rgb(236, 183, 6); left:100px; top:-150px;}
  100% {color:#0CCDDB; box-shadow: 20px 20px 10px rgb(236, 183, 6); left:0px; top:-150px;}
}

@keyframes car {
  0%   { box-shadow: 5px 5px 10px rgb(255, 255, 255); height: 75px; right:-10%; top:-10%;}
  75%  { box-shadow: 1000px 1px 1000px rgb(255, 255, 255); transform: rotate(50deg); height: 1000px; right:120%; top:50%;}
  100% { box-shadow: 10px 1px 150px white; height: 1000px; right:120%; top:50%;} 
}

.carimg {
  height: 0px;
  position: relative;
  animation-name: car;
  animation-duration: 4s;
  top: 10%;
  
  animation-timing-function: ease-in-out;
}

 @keyframes boomBox {
  0%   { box-shadow: 100px 1px 1000px rgb(236, 183, 6); right:120%; top:50%;}
  45%  {color:rgb(250, 250, 134); box-shadow: 1000px 1px 1000px #E994BF; transform: rotate(2000deg); left:120%; top:50%;}
  75%  { box-shadow: 100px 1px 1000px rgb(250, 250, 134); transform: rotate(1000deg);  right:120%; top:50%;}
  100% { box-shadow: 1000px 1px 100px white;  right:120%; top:100%;} 
}
 .boomBox {
  position: fixed;
  height: 150px;
  bottom:0;
  left:0;
  margin-bottom: 5px;
  animation-name: boomBox;
  animation-duration: 6s;
  animation-timing-function: ease-out;
} 
.boomBox:hover {
 
  left: 20px;
}



.boomBox:active {
  bottom: 20px;
  box-shadow: 200px 1px 500px rgb(236, 183, 6);
}

.welcome-btns {
  margin-left: 45px;
  padding: 20px;
  border: 1px solid #871CA1;
  border-radius: 15px;
  color: #0CCDDB;
  background-color: white;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  box-shadow: 0 5px #999;
  transition-duration: 0.5s;
  opacity: 1;
  position: relative;
  animation-name: example;
  animation-duration: 7s;
  top: -200%;
  animation-timing-function: ease-in-out;
}

.register-btn {
  margin-left: 45px;
  padding: 20px;
  border: 1px solid #871CA1;
  border-radius: 15px;
  color: #0CCDDB;
  background-color: white;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  box-shadow: 0 5px #999;
  transition-duration: 0.5s;
  opacity: 1;
  position: relative;
  animation-name: example;
  animation-duration: 8s;
  top: -200%;
  animation-timing-function: ease-out;
}


.welcome-btns:hover {
  background-color: #0CCDDB;
  color: white;
}
.welcome-btns:active {
  background-color: rgb(250, 250, 134);
  color: grey;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
  opacity: 0.5;
}

.register-btn:hover {
  background-color: #0CCDDB;
  color: white;
}
.register-btn:active {
  background-color: rgb(250, 250, 134);
  color: grey;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
  opacity: 0.5;
}


/* Login/Register */

.login-register-format {
  display: flex;
  flex-flow: column;
  color: #2C1679;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}
.createForm {
  color: white;
  display: flex;
  flex-flow: row;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin:  15px 800px 600px 15px ;
}

.textArea {
  padding: 10px;
  margin: 8px;
  width: 600px;
  border-color: #0CCDDB;
  text-align: start;
  padding-left: 12px;
  transition-duration: 1s;
}

.textArea:hover {
  background-color: rgb(185, 144, 144);
  border-color: red;
}

.textArea:active {
  background-color: #39beba;
  transition-duration: .1s;
}

.formInput {
  padding: 10px;
  margin: 8px;
  width: 300px;
  border-color: #0CCDDB;
  text-align: start;
  padding-left: 12px;
}

.description {
  height: 100px;
  padding: 10px;
  margin: 8px;
  width: 600px;
  border-color: #0CCDDB;
  text-align: start;
  padding-left: 12px;
  transition-duration: 1s;
}

.description:hover {
  background-color: rgb(129, 146, 182);
  border-color: red;
}

.description:active {
  background-color: #6ecc61;
  transition-duration: .1s;
}

.button {
  margin: 10px;
  padding: 10px;
  border: 1px solid #871CA1;
  border-radius: 15px;
  color: #0CCDDB;
  background-color: white;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  box-shadow: 0 5px #999;
  transition-duration: 0.5s;
  opacity: 1;
}

.button:hover {
  background-color: #0CCDDB;
  color: white;
}
.button:active {
  background-color: rgb(250, 250, 134);
  color: grey;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
  opacity: 0.5;
}

.login-register-title {
  font-size: 20px;
}

.login-register-format {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  color: rgb(0, 0, 0);
  font-size: 100% ;
}


.login-register {
  margin-top: -10px;
}
.login {
  margin: 80px 10px 350px 100px;
}
.register {
  margin-top: 80px;
  margin-right: 15px;
  margin-bottom: 300px;
}

.loginimage {
  background-image: url("https://i.pinimg.com/originals/b8/85/c2/b885c2b9fdd509273ff3de33abe212ae.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome {
  color: white;
  
}

.letsbe {
  display: flex;
  font-size: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  margin: 150px 0 800px 0;
  
}
/* Feed */

.feed {
background-image: url("https://images.squarespace-cdn.com/content/v1/582652888419c24bb250e196/1559309451779-66EGGFEVB3XGKG14ITM0/90s_background.jpg?format=1500w");
}

.post {
  display: flex;
  flex-flow: row wrap;
  color: #871CA1;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  
}
.createPost {
  position: fixed;
  top: 82%;
  left: 95%;
  transition-duration: 0.1;
}

.createPost:hover {
  margin: 100px;
  top: 1%;
  left: 20%;
  background-color: rgba(100, 151, 180, 0.644);
}

.add {
  background-color: #E994BF;
  padding: 5px 10px;
  border-radius: 100%;
  box-shadow:  10px 10px #553444;
  transition-duration: .5s;
  font-size: xxx-large;
}



.feedPosts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; 
}

.postDet {
 
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  
}
.updateForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 100px 50px 100px;
  background-color: rgb(250, 250, 134);
}
.updateHeader {
  margin-top: 100px;
  color:  #0CCDDB;
  font-size: xx-large;
 
}


.post-title {
  color: #2C1679;
  margin-top: -5px;
}


.posts {
  background-color: rgb(250, 250, 134);
  border-radius: 10%;
  width: 450px;
  margin: 20px;
  box-shadow: 20px 30px rgb(88, 88, 1);
  transition-duration: 0.5s;
  opacity: 1;
}
.posts:hover {
  opacity: 0.8;
  box-shadow: 20px 15px rgb(88, 88, 1);
  cursor: pointer;
  width: 470px;
  transform: rotate(5deg);

}
.posts:active {
  background-color: rgb(250, 250, 134);
  color: grey;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
  opacity: 0.5;
  cursor: grabbing;
  transform: rotate(600deg); 
  width: 800px;
 
}

.detail-container {
  background-color:rgb(250, 250, 134) ;
  box-shadow: 20px 30px rgb(88, 88, 1);
  border-radius: 15%;
  padding: 0 50px;
  width: 350px;
}

.img-wrapper {
  padding: 20px;
  margin-top: 20px;
}

.info-wrapper {
  margin-top: -20px;
  padding: 10px;
}
/* post detail */

.leaveComment {
  color: white;
}
.post-details {
  align-items: center;
  text-align: center;
}
.add-comment {
  background-color: rgb(79, 98, 153);
  position: fixed;
  width: 25%;
  top: 25%;
  right: 3%;
  height: 350px;
  box-shadow: 20px 30px rgb(28, 33, 63);
  border-radius: 25px;
}

.add-comment:hover {
  width: 50%;
  transition-duration: 1s;

}

.commentInput {
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
  border: 2px solid red;
  border-radius: 4px; 
}

.commentInput:hover {
  background-color: rgb(116, 122, 175);
  border-color: red;
}

.commentInput:active {
  background-color: #b3974c;
  transition-duration: .1s;
}


.commentInputDescription {
  margin-bottom: 20px;
  width: 100%;
  height: 100px;
  border: 2px solid red;
  border-radius: 4px;
  transition-duration: 1s;
}

.commentInputDescription:hover {
  background-color: rgb(185, 144, 144);
  border-color: red;
  
}

.commentInputDescription:active {
  background-color: #39beba;
  transition-duration: .1s;
}


/* Profile */

.profile-container {
  display: flex;
  flex-flow: column;
  color: #e994bf;
  text-shadow: 2px 2px black;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 50px;
}

.user-name {
  font-size: 50px;
}

.about {
  font-size: 30px;
}

.user-info {
  margin-bottom: 20px;
}

.user-collection {
  display: flex;
  flex-flow: column;
  color: #2C1679;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 2px solid #2C1679;
  width: 500px;
  padding: 10px;
  border-radius: 8px;
}

.form-description {
  color: #871CA1;
  height: 100px;
}

.title-date {
  margin: 5px;
}

.image {
  margin-bottom: 20px;
  width: 300px;
  border-radius: 10%;
  border: 5px solid #0CCDDB;
  box-shadow: 0 10px #666;
  
}

.backgroundimg {
    background-image: url("https://i.imgur.com/yzEzwIK.png");
    background-repeat: no-repeat;
    padding-top: 50px;
    height: 1080px;
    background-size: cover;   
  }

  .welcome-img {
    background-image: url("https://i.imgur.com/yzEzwIK.png");
    background-repeat: no-repeat;
    height: 500px;
    padding-top: 40px;
    background-size: cover; 
  }

  .profileimg {
    background-image: url("https://preview.redd.it/yk760wzrq5241.jpg?width=640&crop=smart&auto=webp&s=93094b88f6d85a25ab2bb24573e575ffa518cb4d");
    background-size: contain;
    height: 1150px;
  }

  /* Profile Page */

  .profile2 {
    background-image: url("https://media.istockphoto.com/vectors/abstract-retro-brush-background-vector-id665702344?b=1&k=20&m=665702344&s=612x612&w=0&h=7ryjcrwYQBiK0g4-6XyoyX7P3inV5A2yBJtnOR-HSx8=");
    background-size: contain;
    height: 1150px;
  }

.profileName {
  font-size: 80px;
  color: #3180ca;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Bradley Hand', cursive;
  text-shadow: 10px 10px 10px rgb(236, 183, 6);
}

.profilePic {
  width: 30px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 100%;
}

.profile-pic {
  box-shadow: 20px 30px rgba(28, 33, 63, 0.534);
  border-radius: 25px;
  width: 400px;
  
}

.about {
  color: sandybrown;
  text-shadow: 10px 5px 4px rgb(100, 66, 37);
  font-size: xxx-large;
}
.info {
  font-size: x-large;
  
  margin-bottom: 20px;
}

.profile-info {
  background-color: #69b0c2b7;
  padding-bottom: 30px;
  border-radius: 25px;
  width: 500px;
}


/* Footer */

footer {
  position: fixed;
  margin: 0 0 2px 0;
  bottom:0;
  left:0;
  right:0;
  height:30px;
  color: white;
}

.footerlinks {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 23px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: 10px;
}


.navFooter {
  align-items: center;
  margin-bottom: 10px;
  min-height: 2em;
  font-family: 'Georgia';
  background-color: #39beba;
}

  .previous-comments {
    color: white;
    background-color: rgb(79, 98, 153);
    width: 25%;
    position: fixed;
    top: 25%;
    left: 5%;
    box-shadow: 20px 30px rgb(28, 33, 63);
    border-radius: 25px;
  }
  .previous-comments:hover {
    width: 50%;
    transition-duration: 0.5s;
  }


.comments {
  background-color: #e994bf;
  color: #666;
  border: 2px solid sandybrown;
  margin: 5px;
  overflow-y: scroll;
  height: 400px;
  scrollbar-color: #39beba;
  scrollbar-track-color: #39beba;
}
.comment {
  border-bottom: 1px solid sandybrown;
}


.form-description {
  color: #871CA1;
  height: 100px;
}

 