.App {
  text-align: center;
}

.nav-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  min-height: 2em;
  font-family: 'Georgia';
}

.links {
  color: rgb(204, 77, 204);
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
  margin: 10px;
}

.welcome {
  display: flex;
  flex-flow: row wrap;
  color: teal;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.feed {
background-image: url("https://images.squarespace-cdn.com/content/v1/582652888419c24bb250e196/1559309451779-66EGGFEVB3XGKG14ITM0/90s_background.jpg?format=1500w");
background-size: cover;
height: 300px;
width: 300px;
}

.title {
  display: flex;
  flex-flow: column wrap;
  color: teal;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 10px;
  padding: 10px;
}

.form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}